{% extends "base.html" %}

{% block content %}
<h1 style="height:100px; width:1024px; background:#e6a8d7">Афиша</h1>
<form action="" method="post">
    <div class="new-list list-place" data-test="list">
        <div class="new-list__item new-list-place__item" data-test="ITEM">
            {% for i in hire %}
                <div class="new-list__item-info" style="height:100px; width:1024px; background:#ccccff">
                    <h3>
                        <a href={{i.name}} class="new-list__item-link" data-test="ITEM-URL">{{i.name}}</a>
                        <p><img src="../static/img/films/{{i.image_route}}" alt="{{i.name}}" class="poster_img"/></p>
                    </h3>
                </div>
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}