{% extends "base.html" %}

{% block content %}
<h1 class='header_of_page'>Афиша</h1>
<form action="" method="post">
    <div class="new-list list-place" data-test="list">
        <div class="new-list__item new-list-place__item" data-test="ITEM">
            {% for i in hire %}
                <div class="new-list__item-info">
                    <div class='content'>
                        <h3 class='films_afisha'>
                            <a href="/film-info?id={{i.id}}">{{i.name}}</a>
                            <p><img src="../static/img/films/{{i.image_route}}" alt="{{i.name}}" class="poster_img"/></p>
                        </h3>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}