{% extends "base.html" %}

{% block content %}
<h1>{{title}}, {{time}}</h1>
{% for i in range(rows) %}
    <p>Ряд {{i + 1}}</p>
    <div class="time_block">
        <table style="width: 100%">
            <tr>
                {% for j in range(cols) %}
                <th>
                    {% if seats[i][j] == true %}
                    <a
                    type="button" class="btn btn-light item buy_seance time">{{j + 1}}</a>
                    {% else %}
                    <a type="button"
                     class="btn btn-warning item buy_seance seat"
                     href="/reservation/buy?title={{title}}&time={{time}}&hall={{hall}}&place={{j + 1}}&col={{i + 1}}"
                     >{{j + 1}}</a>
                        </div>
                    {% endif %}
                </th>
                {% endfor %}
            </tr>
        </table>
{% endfor %}
{% endblock %}
